
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
}

.para{
    margin-left: 700px;
    margin-top: -180px;
}

.txt{
    margin-left: 800px;
}
.logo{
    font-family: "Jacques Francois Shadow",sans-serif;

    font-size:80px;
    position: relative;
    display: inline-block;
}


.picture{
    height: 100vh;
    width: 800px;
    background-image: url(./assets/The-Torii-Gates-of-Neo-Tokyo-City-AI-Artwork-6_1.jpg);
    background-size: cover; 
    background-position: center;

}

.picture1{
  height: 100vh;
  width: 800px;
  background-image: url(./assets/The-Torii-Gates-of-Neo-Tokyo-City-AI-Artwork-6_1.jpg);
  background-size: cover; 
  background-position: center;
}

/* .rotate-180{
  rotate: 90deg;
} */

/* 
.welcome{
    font-size: 50px;
    position:absolute;
    margin-left: 165px;
    top: 150px;
  }
.DHAA{
  position:absolute;
  bottom: 170px;
  left: 235px;
} */

.glitch {
  font-family: "Jacques Francois Shadow", sans-serif;
  font-size: 80px;
  position: relative;
  display: inline-block;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.glitch::before {
  left: 2px;
  text-shadow: -5px 0 red;
  animation: glitch-anim 2s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: 5px 0 blue;
  animation: glitch-anim2 2s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(54px, 9999px, 46px, 0);
  }
  10%, 100% {
    clip: rect(54px, 9999px, 46px, 0);
  }
  20% {
    clip: rect(54px, 9999px, 15px, 0);
  }
  30% {
    clip: rect(32px, 9999px, 94px, 0);
  }
  40% {
    clip: rect(62px, 9999px, 89px, 0);
  }
  50%, 90% {
    clip: rect(56px, 9999px, 72px, 0);
  }
  60% {
    clip: rect(63px, 9999px, 19px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 39px, 0);
  }
  80% {
    clip: rect(44px, 9999px, 20px, 0);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(67px, 9999px, 46px, 0);
  }
  10%, 100% {
    clip: rect(67px, 9999px, 46px, 0);
  }
  20% {
    clip: rect(47px, 9999px, 78px, 0);
  }
  30% {
    clip: rect(89px, 9999px, 5px, 0);
  }
  40% {
    clip: rect(77px, 9999px, 63px, 0);
  }
  50%, 90% {
    clip: rect(89px, 9999px, 24px, 0);
  }
  60% {
    clip: rect(35px, 9999px, 60px, 0);
  }
  70% {
    clip: rect(15px, 9999px, 74px, 0);
  }
  80% {
    clip: rect(46px, 9999px, 69px, 0);
  }
}

.glitch-active::before,
.glitch-active::after {
  display: none;
}

.error{
  position: relative;
  right: 120px;
}

.icon{
  font-family: "Jacques Francois Shadow",sans-serif;

}

.dropdown{
right: 1300px;
}

@layer utilities {
  .transition-transform {
    transition-property: transform;
  }
}

@layer utilities {
  .translate-x-0 {
    transform: translateX(0);
  }

  .-translate-x-full {
    transform: translateX(-100%);
  }
}

.blog {
  height: 620px;
  width: 950px;
  overflow-y: auto; 
}

.blog::-webkit-scrollbar {
  width: 0;
}

.profile{
  position: relative;
  bottom: 80px;
  left: 120px;
}

.form2{
position: relative;
bottom:70px
}

.post{
  position:absolute;
  left: 1000px;
  top: 310px; }

  .dummy{
    position: relative;
    right: 120px;
  }

  .screen::-webkit-scrollbar {
    width: 0;
  }
  
  /* About.css */

  .scroll-animation {
    opacity: 0;
    transform: translateY(5vh);
    animation: slideIn 1s forwards;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(5vh);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .profile2{
    margin-top:-6.5rem;
  }
/* 
  .name{
    margin-top: -35px;
  } */
  